apiVersion: v1
kind: ConfigMap
metadata:
  name: api-config
data:
  DB_HOST: db
  DB_USER: admin

---
apiVersion: v1
kind: Secret
metadata:
  name: api-secret
type: Opaque
data:
  DB_PASS: YWRtaW4=   # base64("admin")

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
      - name: api-service
        image: micro-service-api-service:latest
        ports:
        - containerPort: 3003
        envFrom:
        - configMapRef:
            name: api-config
        - secretRef:
            name: api-secret
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api-service
  ports:
  - port: 3003
    targetPort: 3003
  type: ClusterIP

