apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-config
data:
  DB_HOST: db
  DB_USER: admin
  REDIS_HOST: redis
  REDIS_PORT: "6379"

---
apiVersion: v1
kind: Secret
metadata:
  name: worker-secret
type: Opaque
data:
  DB_PASS: YWRtaW4=

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-service
  template:
    metadata:
      labels:
        app: worker-service
    spec:
      containers:
      - name: worker
        image: lokesshhdocker/micro-services:api
        envFrom:
        - configMapRef:
            name: worker-config
        - secretRef:
            name: worker-secret

